  
<!--A footer shared out to each page-->

<footer class="py-5 bg-dark">
    <div class="container">
      <p class="text-center text-info">Copyright &copy; Jarbar 2020</p>
    </div>
    <!-- /.container -->
  </footer>
